body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}  

h1 {
    color: #62acac;
    font-size: 5.625rem;    
    font-family: 'Sacramento', cursive;
    line-height: 0.8;
    margin: 50px, auto, 0, auto;  
}

h2 {
    color: #62acac;
    font-size: 1.75rem;
    font-weight: normal;
    padding-bottom: 10px;
}


hr {
    border: dotted hsl(180, 9%, 60%) 6px;
    border-bottom: none;
    width: 4%;
    margin: 75px auto;

}

.top-container {
    background-color: #e0ebe8;
    padding-top: 50px;
    position: relative;
}

.mountain-img {
    height: 450px;
    width: 700px;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 40px;
    height: 50px;
    width: 150px;
}
.bottom-cloud {
    position: absolute;
    left: 500px;
    height: 50px;
    width: 150px;

}

.jacobs-img {
    height: 500px;
    width: 500px;
    padding-top: 75px;
    padding-bottom: 20px;
}

.cloud-computing-img {
    float: left;
    width: 15%;
    padding-bottom: 20px;
    padding-right: 30px;
}

.diamond-img {
    float: right;
    width: 15%;
    padding-bottom: 20px;
    padding-left: 30px;
}

.military-img {
    float: left;
    width: 15%;
    padding-bottom: 20px;
    padding-right: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.6;
}

